[submodule "modules/FLEXing"]
	path = modules/FLEXing
	url = https://github.com/PoomSmart/FLEXing
	branch = rootless
[submodule "modules/ffmpeg-kit"]
	path = modules/ffmpeg-kit
	url = https://github.com/JeffreyCA/ffmpeg-kit-ios
[submodule "modules/ZipArchive"]
	path = modules/ZipArchive
	url = https://github.com/ZipArchive/ZipArchive.git
[submodule "Headers"]
	path = Headers
	url = https://github.com/Apollo-Reborn/Apollo-Headers
[submodule "modules/KSCrash"]
	path = modules/KSCrash
	url = https://github.com/kstenerud/KSCrash.git
